{% extends 'FrontEnd/Resources/views/emails/base/base-password-reset.html.twig' %}

{% set fullUrl = global_en_config.environment.s3_uploads_url ~ '/images/logos/email/valleyview_psswrdreset_logo.png' %}

{% block bodyContainer %}
    <table style="padding-top:20px; font-family:'Raleway', sans-serif;">
        <tr>
            <td>
                {% block bodyContent %}
                    <table cellpadding="10" align="center" style="max-width: 550px;">
                        <tr>
                            <td>
                                <table align="center" cellpadding="5px" cellspacing="0">
                                    <tr>
                                        <td align="center">
                                            <img src="{{ fullUrl }}" style="width:150px; text-align: center;" alt="REEL IN THE RICHES!">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="line-height:2.5em">
                                <p style="font-size:18px;">Hi {{firstName}},<br />
                                    We received a request to reset your password. To do so, please click the button below.<br />
                                    Thanks for playing Rita’s Riches. Have fun and win big!</p>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <a style="display: block; width: 200px;	height: 25px; color: #FFFFFF;
                                    text-shadow: 5px 4px 9px #000000;
                                    box-shadow: 7px 7px 12px 0 #777; font-size: 16px; font-weight: 700; padding: 15px;
                                    -moz-border-radius: 0; border-radius: 0; border: 0; outline: unset;
                                    text-transform: uppercase; text-align: center;	text-decoration:none;
                                    background: -moz-linear-gradient(-45deg, #fbf3b0 0, #a97630 22%, #e4b64a 42%, #fbf3b0 52%, #a97630 82%, #e4b64a 100%);
                                    background: -webkit-linear-gradient(-45deg, #fbf3b0 0, #a97630 22%, #e4b64a 42%, #fbf3b0 52%, #a97630 82%, #e4b64a 100%);
                                    background: linear-gradient(135deg, #fbf3b0 0, #a97630 22%, #e4b64a 42%, #fbf3b0 52%, #a97630 82%, #e4b64a 100%);"
                                   class="resetbnt" title="Confirm Now" href="{{ resetLink }}" target="_blank" >Reset my password</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" height="5px" bgcolor="#642667"></table>
                            </td>
                        </tr>
                    </table>
                {% endblock %}
            </td>
        </tr>
    </table>
{% endblock %}